body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
}

.card {
    width: 160px;
    height: 110px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.card a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.card:hover {
    transform: scale(1.05);
}

/* Colors */
.genre1 { background-color: #e1c606; }
.genre2 { background-color: #1abc9c; }
.genre3 { background-color: #3498db; }
.genre4 { background-color: #9b59b6; }
.genre5 { background-color: #34495e; }
.genre6 { background-color: #16a085; }
.genre7 { background-color: #27ae60; }
.genre8 { background-color: #2980b9; }
.genre9 { background-color: #8e44ad; }
.genre10 { background-color: #2c3e50; }
.genre11 { background-color: #c0392b; }
.genre12 { background-color: #1abc9c; }
